librosa >= 0.7.0
tensorboardX
matplotlib
fire
unidecode
pandas
inflect
torchvision
opencv-python
pyyaml
tqdm
data
pycuda
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability