dataclasses
gitpython==3.1.29
rouge-score==0.1.2
pynvml==8.0.4
tqdm==4.64.1
git+https://github.com/NVIDIA/dllogger
git+https://github.com/NVIDIA/lddl.git
nltk>=3.8.2 # not directly required, pinned by Snyk to avoid a vulnerability